* {
    margin: 0;
}

body {
    display: flex;
}

.bgImage {
    background-image: url(rebel.jpg);
    background-size: cover;
    width: 30vw;
    height: 100vh;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: rgb(0 0 0 / 7%);
    transform: translate(0, 19vh);
}

.formSection {
    height: 32vh;
    width: 70vw;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
}

.infoSection {
    background-color: #F5F5F5;
    height: 34vh;
    width: 70vw;
}